In [1]:
import numpy as np
import pandas as pd
import joblib

In [2]:
country = 'ESP'
model = joblib.load(f'models/{country}_model.pkl')
scaler_features = joblib.load('scalers/scaler_features.pkl')
scaler_gdp = joblib.load('scalers/scaler_gdp.pkl')

new_data = {
    'Population' : 47415794, 
    'Inflation' : 3.0931351197642, 
    'Import' : 134.0948592709,
    'Export' : 135.6812883345
}

df = pd.DataFrame([new_data])

In [3]:
features_to_scale = ['Population', 'Inflation', 'Import', 'Export']
gdp_column = 'GDP'

In [4]:
df_scaled = df.copy()
df_scaled[features_to_scale] = scaler_features.transform(df[features_to_scale])

In [5]:
df

   Population  Inflation      Import      Export
0    47415794   3.093135  134.094859  135.681288

In [6]:
df_scaled

   Population  Inflation    Import    Export
0    0.076349  -0.052541  1.487841  0.422801

In [7]:
predicted_gdp = model.predict(df_scaled)

In [8]:
predicted_gdp

array([1.00058333])

In [9]:
df_scaled['GDP'] = predicted_gdp
df_scaled

   Population  Inflation    Import    Export       GDP
0    0.076349  -0.052541  1.487841  0.422801  1.000583

In [10]:
df_original = df_scaled.copy()
df_original[features_to_scale] = scaler_features.inverse_transform(df_scaled[features_to_scale])
df_original['GDP'] = scaler_gdp.inverse_transform(df_scaled[['GDP']])
df_original

   Population  Inflation      Import      Export           GDP
0  47415794.0   3.093135  134.094859  135.681288  1.564229e+12