In [1]:
import numpy as np
import pandas as pd

In [3]:
import pandas as pd
df = pd.read_excel("data_1.xlsx", na_values = [":", ""], index_col=[0, 1])

In [4]:
df

                          GDP  Inflation Rate  Population Growth    Export  \
Time Country
2014 Belgium          104.272             0.5            56434.0  134149.1
     Bulgaria         103.268            -1.6           -87763.0    8767.9
     Czechia          103.212             0.4            25856.0   30106.8
     Denmark          104.029             0.4            32480.0   37025.1
     Germany          106.923             0.8           430074.0  555558.1
...                       ...             ...                ...       ...
2023 North Macedonia  131.036             9.0            -3707.0       NaN
     Albania          158.601             5.3                NaN       NaN
     Serbia           131.057            12.1           -36029.0       NaN
     Turkiye          204.414            54.0            92824.0       NaN
     Kosovo           170.061             4.9                NaN       NaN

                        Import
Time Country
2014 Belgium          136307.4
     Bulgaria          10450.3
     Czechia           29203.5
     Denmark           26439.8
     Germany          353607.3
...                        ...
2023 North Macedonia       NaN
     Albania               NaN
     Serbia                NaN
     Turkiye               NaN
     Kosovo                NaN

[380 rows x 5 columns]

In [5]:
df.loc[(2016, 'Belgium')]

GDP                     107.072
Inflation Rate            1.800
Population Growth     40610.000
Export               132590.400
Import               140520.900
Name: (2016, Belgium), dtype: float64