In [1]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("combined_data.csv", index_col=[0, 1])
df

                    Inflation  Population           GDP      Export  \
Country Code Year
ABW          1980         NaN     59909.0           NaN         NaN
             1981         NaN     60563.0           NaN         NaN
             1982         NaN     61276.0           NaN         NaN
             1983         NaN     62228.0           NaN         NaN
             1984         NaN     62901.0           NaN         NaN
...                       ...         ...           ...         ...
ZWE          2017    0.893962  14812482.0  2.096487e+10  107.151887
             2018   10.618866  15034452.0  2.201518e+10  124.909506
             2019  255.304991  15271368.0  2.062108e+10  131.425343
             2020  557.201817  15526888.0  1.900914e+10  135.325610
             2021   98.546105  15797210.0  2.061884e+10  185.806800

                       Import
Country Code Year
ABW          1980         NaN
             1981         NaN
             1982         NaN
             1983         NaN
             1984         NaN
...                       ...
ZWE          2017   83.660837
             2018  105.579357
             2019   79.585840
             2020   82.633621
             2021  118.756526

[7686 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7686 entries, ('ABW', 1980) to ('ZWE', 2021)
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Inflation   6524 non-null   float64
 1   Population  7676 non-null   float64
 2   GDP         7282 non-null   float64
 3   Export      6718 non-null   float64
 4   Import      6718 non-null   float64
dtypes: float64(5)
memory usage: 329.7+ KB

In [4]:
df = df.dropna(subset = ['GDP'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7282 entries, ('ABW', 1986) to ('ZWE', 2021)
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Inflation   6474 non-null   float64
 1   Population  7282 non-null   float64
 2   GDP         7282 non-null   float64
 3   Export      6588 non-null   float64
 4   Import      6588 non-null   float64
dtypes: float64(5)
memory usage: 312.8+ KB

In [6]:
df = df.drop(index = [("AFG", 2020), ("AFG", 2021)])

In [7]:
df.isnull().sum()

Inflation     806
Population      0
GDP             0
Export        694
Import        694
dtype: int64

In [9]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# ğŸ“Œ Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ (Ù…Ø«Ø§Ù„ ÙØ±Ø¶ÛŒ)

# ğŸ“Œ Ø§Ø¬Ø±Ø§ÛŒ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ø¨Ø±Ø§ÛŒ Ø¬Ø§ÛŒÚ¯Ø°Ø§Ø±ÛŒ Ù…Ù‚Ø¯Ø§Ø±Ù‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡
for country in df.index.get_level_values("Country Code").unique():  # Ù¾Ø±Ø¯Ø§Ø²Ø´ Ø¬Ø¯Ø§Ú¯Ø§Ù†Ù‡ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ú©Ø´ÙˆØ±
    country_df = df.xs(country, level="Country Code")  # Ø§Ù†ØªØ®Ø§Ø¨ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ø§ÛŒÙ† Ú©Ø´ÙˆØ±

    for column in df.columns:  # Ù¾Ø±Ø¯Ø§Ø²Ø´ Ù‡Ø± Ø³ØªÙˆÙ† Ø¹Ø¯Ø¯ÛŒ
        valid_data = country_df.dropna(subset=[column])  # Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ù…Ø¹ØªØ¨Ø±
        missing_data = country_df[country_df[column].isna()]  # Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡

        if missing_data.empty:
            continue  # Ø§Ú¯Ø± Ù…Ù‚Ø¯Ø§Ø± Ú¯Ù…Ø´Ø¯Ù‡ Ù†Ø¯Ø§Ø±ÛŒÙ…ØŒ Ø±Ø¯ Ø´Ùˆ

        X_valid = valid_data.index.values.reshape(-1, 1)  # Ø³Ø§Ù„â€ŒÙ‡Ø§ÛŒ Ø¯Ø§Ø±Ø§ÛŒ Ù…Ù‚Ø¯Ø§Ø±
        y_valid = valid_data[column].values  # Ù…Ù‚Ø¯Ø§Ø± ÙˆÛŒÚ˜Ú¯ÛŒ Ø³Ø§Ù„â€ŒÙ‡Ø§ÛŒ Ø¯Ø§Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡
        X_missing = missing_data.index.values.reshape(-1, 1)  # Ø³Ø§Ù„â€ŒÙ‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡

        # ğŸ“Œ Ø§ÙØ²ÙˆØ¯Ù† Ù…Ù‚Ø¯Ø§Ø± Ø«Ø§Ø¨Øª Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„ WLS
        X_valid_wls = sm.add_constant(X_valid)

        # ğŸ“Œ Ù…Ø­Ø§Ø³Ø¨Ù‡ ÙˆØ²Ù†â€ŒÙ‡Ø§ Ø¨Ø±Ø§ÛŒ WLS
        weights = 1 / (np.abs(X_valid - X_missing.T) + 1) ** 2  # ÙˆØ²Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ù†

        # ğŸ“Œ Ø§Ø¬Ø±Ø§ÛŒ Ù…Ø¯Ù„ WLS
        model = sm.WLS(y_valid, X_valid_wls, weights.mean(axis=1))
        results = model.fit()

        # ğŸ“Œ ØªÙ†Ø¸ÛŒÙ… ØµØ­ÛŒØ­ Ø§Ø¨Ø¹Ø§Ø¯ X_missing_wls
        X_missing_wls = np.ones((X_missing.shape[0], X_valid_wls.shape[1]))  # Ø§ÛŒØ¬Ø§Ø¯ Ù…Ø§ØªØ±ÛŒØ³ Ù…Ù†Ø§Ø³Ø¨
        X_missing_wls[:, -1] = X_missing.ravel()  # ØªÙ†Ø¸ÛŒÙ… Ø³ØªÙˆÙ† Ø¯ÙˆÙ… Ø¨Ø§ Ø³Ø§Ù„â€ŒÙ‡Ø§

        # ğŸ“Œ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ù…Ù‚Ø¯Ø§Ø±Ù‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡
        predicted_values = results.predict(X_missing_wls)

        # ğŸ“Œ Ø¬Ø§ÛŒÚ¯Ø°Ø§Ø±ÛŒ Ù…Ù‚Ø¯Ø§Ø±Ù‡Ø§ÛŒ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ø´Ø¯Ù‡ Ø¯Ø± DataFrame
        df.loc[(country, missing_data.index), column] = predicted_values

In [10]:
df

                    Inflation  Population           GDP      Export  \
Country Code Year
ABW          1986    1.073966     59931.0  1.040068e+09  105.022708
             1987    3.643045     59159.0  1.207294e+09  115.503652
             1988    3.121868     59331.0  1.432438e+09  135.066427
             1989    3.991628     60443.0  1.606191e+09  101.349267
             1990    5.836688     62753.0  1.669819e+09  123.596991
...                       ...         ...           ...         ...
ZWE          2017    0.893962  14812482.0  2.096487e+10  107.151887
             2018   10.618866  15034452.0  2.201518e+10  124.909506
             2019  255.304991  15271368.0  2.062108e+10  131.425343
             2020  557.201817  15526888.0  1.900914e+10  135.325610
             2021   98.546105  15797210.0  2.061884e+10  185.806800

                       Import
Country Code Year
ABW          1986   47.432669
             1987   58.364675
             1988   83.150974
             1989   95.561922
             1990  132.571551
...                       ...
ZWE          2017   83.660837
             2018  105.579357
             2019   79.585840
             2020   82.633621
             2021  118.756526

[7280 rows x 5 columns]

In [11]:
df.isnull().sum()

Inflation     0
Population    0
GDP           0
Export        0
Import        0
dtype: int64