In [1]:
import numpy as np
import pandas as pd
import joblib

In [2]:
country = 'ESP'
model = joblib.load(f'models/{country}_model.pkl')
scaler = joblib.load(f'scalers/{country}_scaler.pkl')


new_data = {
    'Population' : 47415794, 
    'Inflation' : 3.0931351197642, 
    'Import' : 134.0948592709,
    'Export' : 135.6812883345
}

df = pd.DataFrame([new_data])

In [3]:
df

   Population  Inflation      Import      Export
0    47415794   3.093135  134.094859  135.681288

In [4]:
columns = df.columns
df_scaled = df.copy()
df_scaled[columns] = scaler.transform(df[columns])

In [5]:
df

   Population  Inflation      Import      Export
0    47415794   3.093135  134.094859  135.681288

In [6]:
df_scaled

   Population  Inflation    Import   Export
0     1.11666   0.622526  1.376644  1.70438

In [7]:
predicted_gdp = model.predict(df_scaled)

c:\users\hossein ahmadi\desktop\projects\qenv\lib\site-packages\sklearn\base.py:402: UserWarning: X has feature names, but Ridge was fitted without feature names
  warnings.warn(

In [8]:
predicted_gdp

array([1.51130609e+12])

In [9]:
df_scaled['GDP'] = predicted_gdp
df_scaled

   Population  Inflation    Import   Export           GDP
0     1.11666   0.622526  1.376644  1.70438  1.511306e+12

In [10]:
df_original = df_scaled.copy()
df_original[columns] = scaler.inverse_transform(df_scaled[columns])
df_original

   Population  Inflation      Import      Export           GDP
0  47415794.0   3.093135  134.094859  135.681288  1.511306e+12