In [1]:
import numpy as np
import pandas as pd
import joblib
import warnings
warnings.filterwarnings('ignore')

In [2]:
country = 'CHN'
model = joblib.load(f'models/{country}_model.pkl')
scaler = joblib.load(f'scalers/{country}_scaler.pkl')


new_data = {
    'Population' : 47415794, 
    'Inflation' : 3.0931351197642, 
    'Import' : 134.0948592709,
    'Export' : 135.6812883345
}

df = pd.DataFrame([new_data])

In [3]:
main_data = pd.read_csv("combined_data.csv", index_col=[0, 1])

In [4]:
main_data

                    Inflation  Population           GDP      Export  \
Country Code Year
ABW          1980         NaN     59909.0           NaN         NaN
             1981         NaN     60563.0           NaN         NaN
             1982         NaN     61276.0           NaN         NaN
             1983         NaN     62228.0           NaN         NaN
             1984         NaN     62901.0           NaN         NaN
...                       ...         ...           ...         ...
ZWE          2017    0.893962  14812482.0  5.107466e+10  107.151887
             2018   10.618866  15034452.0  3.415607e+10  124.909506
             2019  255.304991  15271368.0  2.571741e+10  131.425343
             2020  557.201817  15526888.0  2.686794e+10  135.325610
             2021   98.546105  15797210.0  2.724052e+10  185.806800

                       Import
Country Code Year
ABW          1980         NaN
             1981         NaN
             1982         NaN
             1983         NaN
             1984         NaN
...                       ...
ZWE          2017   83.660837
             2018  105.579357
             2019   79.585840
             2020   82.633621
             2021  118.756526

[7686 rows x 5 columns]

In [5]:
country_data = main_data.loc['CHN']
country_data

      Inflation    Population           GDP      Export      Import
Year
1980        NaN  9.812350e+08  1.911492e+11    0.796110    1.186920
1981        NaN  9.938850e+08  1.958664e+11    0.967993    1.310348
1982        NaN  1.008630e+09  2.050897e+11    0.981804    1.147856
1983        NaN  1.023310e+09  2.306867e+11    0.977625    1.273147
1984        NaN  1.036825e+09  2.599465e+11    1.149741    1.631462
1985        NaN  1.051040e+09  3.094880e+11    1.203008    2.514868
1986        NaN  1.066790e+09  3.007581e+11    1.361004    2.553675
1987   7.233836  1.084035e+09  2.729730e+11    1.734663    2.572245
1988  18.811818  1.101630e+09  3.123536e+11    2.090023    3.289589
1989  18.245638  1.118650e+09  3.477681e+11    2.310919    3.520053
1990   3.052290  1.135185e+09  3.608579e+11    2.731114    3.175130
1991   3.556686  1.150780e+09  3.833733e+11    3.163009    3.796883
1992   6.353981  1.164970e+09  4.269157e+11    3.736142    4.796474
1993  14.610079  1.178440e+09  4.447313e+11    4.035421    6.187710
1994  24.256990  1.191835e+09  5.643219e+11    5.322529    6.881423
1995  16.791225  1.204855e+09  7.344848e+11    6.544187    7.863877
1996   8.313160  1.217550e+09  8.637493e+11    6.643947    8.272554
1997   2.786465  1.230075e+09  9.616020e+11    8.040228    8.465818
1998  -0.773186  1.241935e+09  1.029061e+12    8.080694    8.353646
1999  -1.401473  1.252735e+09  1.094004e+12    8.574170    9.870883
2000   0.347811  1.262645e+09  1.211332e+12   10.961359   13.397747
2001   0.719126  1.271850e+09  1.339401e+12   11.704497   14.500948
2002  -0.731971  1.280400e+09  1.470558e+12   14.321556   17.574183
2003   1.127603  1.288400e+09  1.660281e+12   19.275750   24.575396
2004   3.824637  1.296075e+09  1.955347e+12   26.097838   33.415120
2005   1.776414  1.303720e+09  2.285961e+12   33.515009   39.293067
2006   1.649431  1.311020e+09  2.752119e+12   42.621141   47.122947
2007   4.816768  1.317885e+09  3.550328e+12   53.682568   56.926373
2008   5.925251  1.324655e+09  4.594337e+12   62.929982   67.432122
2009  -0.728165  1.331260e+09  5.101691e+12   52.853702   59.891841
2010   3.175325  1.337705e+09  6.087192e+12   69.398558   83.131416
2011   5.553899  1.345035e+09  7.551546e+12   83.501549  103.805626
2012   2.619524  1.354190e+09  8.532185e+12   90.114046  108.266362
2013   2.621050  1.363240e+09  9.570471e+12   97.164552  116.100826
2014   1.921642  1.371860e+09  1.047562e+13  103.027313  116.651147
2015   1.437024  1.379860e+09  1.106157e+13  100.000000  100.000000
2016   2.000002  1.387790e+09  1.123331e+13   92.265737   94.543769
2017   1.593136  1.396215e+09  1.231049e+13   99.554777  109.777883
2018   2.074790  1.402760e+09  1.389491e+13  109.378931  127.160707
2019   2.899234  1.407745e+09  1.427997e+13  109.940276  123.745444
2020   2.419422  1.411100e+09  1.468774e+13  113.920741  123.005800
2021   0.981015  1.412360e+09  1.782046e+13  147.960521  160.079062

In [6]:
country_data = country_data.dropna()

In [7]:
features_columns = ['Population', 'Inflation', 'Import', 'Export']  
country_data[features_columns] = scaler.transform(country_data[features_columns])

In [8]:
country_data

      Inflation  Population           GDP    Export    Import
Year
1987   0.389341   -2.067136  2.729730e+11 -1.002608 -1.010828
1988   2.282830   -1.882355  3.123536e+11 -0.994544 -0.996136
1989   2.190236   -1.703613  3.477681e+11 -0.989532 -0.991416
1990  -0.294518   -1.529965  3.608579e+11 -0.979997 -0.998481
1991  -0.212028   -1.366188  3.833733e+11 -0.970197 -0.985747
1992   0.245448   -1.217166  4.269157e+11 -0.957192 -0.965274
1993   1.595668   -1.075706  4.447313e+11 -0.950401 -0.936780
1994   3.173346   -0.935033  5.643219e+11 -0.921196 -0.922573
1995   1.952378   -0.798299  7.344848e+11 -0.893475 -0.902451
1996   0.565857   -0.664977  8.637493e+11 -0.891211 -0.894081
1997  -0.337991   -0.533441  9.616020e+11 -0.859528 -0.890123
1998  -0.920144   -0.408889  1.029061e+12 -0.858610 -0.892420
1999  -1.022896   -0.295469  1.094004e+12 -0.847413 -0.861346
2000  -0.736814   -0.191395  1.211332e+12 -0.793245 -0.789112
2001  -0.676088   -0.094725  1.339401e+12 -0.776382 -0.766518
2002  -0.913404   -0.004934  1.470558e+12 -0.716999 -0.703575
2003  -0.609285    0.079081  1.660281e+12 -0.604583 -0.560184
2004  -0.168206    0.159683  1.955347e+12 -0.449783 -0.379139
2005  -0.503177    0.239969  2.285961e+12 -0.281480 -0.258754
2006  -0.523944    0.316633  2.752119e+12 -0.074853 -0.098391
2007  -0.005951    0.388729  3.550328e+12  0.176142  0.102392
2008   0.175333    0.459826  4.594337e+12  0.385975  0.317559
2009  -0.912782    0.529191  5.101691e+12  0.157334  0.163128
2010  -0.274396    0.596876  6.087192e+12  0.532754  0.639094
2011   0.114601    0.673855  7.551546e+12  0.852765  1.062520
2012  -0.365293    0.769999  8.532185e+12  1.002809  1.153880
2013  -0.365044    0.865041  9.570471e+12  1.162792  1.314337
2014  -0.479426    0.955567  1.047562e+13  1.295824  1.325608
2015  -0.558682    1.039582  1.106157e+13  1.227131  0.984578
2016  -0.466611    1.122862  1.123331e+13  1.051633  0.872829
2017  -0.533151    1.211341  1.231049e+13  1.217028  1.184838
2018  -0.454380    1.280075  1.389491e+13  1.439948  1.540853
2019  -0.319549    1.332427  1.427997e+13  1.452686  1.470906
2020  -0.398018    1.367661  1.468774e+13  1.543007  1.455757
2021  -0.633259    1.380893  1.782046e+13  2.315403  2.215050

In [9]:
df

   Population  Inflation      Import      Export
0    47415794   3.093135  134.094859  135.681288

In [10]:
columns = ['Population', 'Inflation', 'Import', 'Export']
df_scaled = df.copy()
df_scaled[columns] = scaler.transform(df[columns])

In [11]:
df

   Population  Inflation      Import      Export
0    47415794   3.093135  134.094859  135.681288

In [12]:
df_scaled

   Population  Inflation    Import    Export
0  -12.953584  -0.287838  1.682871  2.036775

In [13]:
predicted_gdp = model.predict(df_scaled)

In [14]:
predicted_gdp

array([1.56044901e+13])

In [15]:
df['GDP'] = predicted_gdp
df

   Population  Inflation      Import      Export           GDP
0    47415794   3.093135  134.094859  135.681288  1.560449e+13

# Counterfactual explanation

In [16]:
import dice_ml
from dice_ml.utils import helpers

In [17]:
import dice_ml
from dice_ml.utils import helpers

d = dice_ml.Data(dataframe=country_data, continuous_features=['Population', 'Inflation', 'Import', 'Export'], outcome_name='GDP')

m = dice_ml.Model(model=model, backend='sklearn', model_type='regressor') 

exp = dice_ml.Dice(d, m)

query_instance = country_data.drop(columns="GDP").iloc[0:1]


desired_range = [1.590000e+13, 2.060449e+13]

features_to_vary = ['Population', 'Inflation', 'Import', 'Export']
#permitted_range = {'Population':[0, 10000e6], 'Inflation':[0,20]}

dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, 
                                        features_to_vary=features_to_vary,
                                        desired_range=desired_range)

dice_exp.visualize_as_dataframe(show_only_changes=False)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  9.34it/s]

Query instance (original outcome : -368738861056.0)

   Inflation  Population    Export    Import           GDP
0   0.389341   -2.067136 -1.002608 -1.010828 -3.687389e+11

Diverse Counterfactual set (new outcome: [15900000000000.0, 20604490000000.0])

   Inflation  Population    Export    Import           GDP
0   0.389341   -2.067136  2.253949  2.183260  1.643480e+13
1   0.389341   -1.057604  2.270114  2.088178  1.627389e+13
2  -0.400166   -2.067136  2.253949  2.183260  1.647782e+13
3   0.389341    0.083947  2.309149  2.029743  1.628486e+13

In [29]:
df_counterfactuals = dice_exp.visualize_as_dataframe(show_only_changes)

NameError: name 'show_only_changes' is not defined

In [25]:
df_counterfactuals.drop('GDP', axis = 1, inplace = True)

AttributeError: 'NoneType' object has no attribute 'drop'

In [ ]:
result = scaler.inverse_transform(df_counterfactuals)